<div>
    {% for week in month_days %}
        {% for day, entries, current, formset, filled in week %}
            <!-- TD style: empty | day | current; onClick handler and highlight  -->
            <td class= {% if day == 0 %}"empty"{% endif %}
            {% if day != 0 and not current %}"day"{% endif %}
            {% if day != 0 and current %}"current"{% endif %}
            {% if day != 0 %}
                #onClick=send_request({{ day }});
                #onMouseOver="this.bgColor='#eeeeee';"
                #onMouseOut="this.bgColor='white';"
            {% endif %} 
            data-id="{{ day }}" id="td-{{ day }}" data-filled ="{{ filled }}" >
            <!-- Day number and entry snippets -->
            {% if day != 0 %}
                <div id="cell-{{ day }}" style="position:relative; display:none" data-toggle="tooltip" 
                    data-html="true" data-title='<span style="color:#bbb;">Edit note</span> 
                    <a style="font-size: 1.1em; margin-top: -2px" href="#" data-id="{{ day }}" class="close">&times;</a>' data-content='<form id="formpop-{{ day }}" 
                    action="{% url "myproject.views.day" year month day %}" method="POST">
                            {{ formset.management_form }}{% for entry in formset.forms %}
                            {{ entry.id }}
                            <div style="display:none">Delete {{ entry.DELETE }}</div>
                            Snippet: {{ entry.snippet }}
                            {% endfor %}
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}"/>
                            <input type="submit" value="Save" class="btn btn-primary"/>
                            <input type="submit" data-id="{{ day }}" style="margin-left: 3px" value="Erase" class="btn btn-warning erase"/>
                    </form>'>
                    {{ day }}
                    {% for entry in entries %}
                        <div style="margin-top:10px; vertical-align:middle; text-align:center;">
                        {{ entry.short|safe }}
                        </div>
                    {% endfor %}
                    {% if entries|length == 0 %}
                        <div id="edit-icon-{{ day }}" style="top:0; position:absolute; visibility: hidden">
                             <i class="icon-leaf icon-white"></i></div>
                    {% endif %}
                    {% if entries|length == 1 %}
                        <div id="star-icon-{{ day }}" style="top:0; position:absolute;"><i class="icon-bookmark icon-white"></i></div>
                        <div id="pencil-icon-{{ day }}" style="position:absolute; top:0; visibility: hidden;">
                            <i class="icon-pencil icon-white"></i></div>
                    {% endif %}
                    {% if formset != 0 %}
                    <div style="display:none">
                        <form id="form-{{ day }}" action="{% url "myproject.views.day" year month day %}" method="POST"> {% csrf_token %}
                            {{ formset.management_form }}
                            {% for entry in formset.forms %}
                                {{ entry.id }}
                                <div class="entry">
                                    <div class="del">Delete {{ entry.DELETE }}</div>
                                    <div id="inp1">
                                    <p>Title: {{ entry.title }}</p>
                                    <p>Snippet: {{ entry.snippet }}</p>
                                    </div>
                                    <p>Remind: {{ entry.remind }}</p>
                                    {{ entry.body }}
                                </div>
                            {% endfor %}
                            <input type="submit" value="Save" /> 
                        </form>
                    </div>
                {% endif %}
                </div>
            {% endif %}
            </td>
        {% endfor %}
    {% endfor %}
</div>