{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="title">{{ mname }} {{ year }}</div>

<div class="calendar">
    <table>
    <tr>
        <th>M</th>
        <th>T</th>
        <th>W</th>
        <th>T</th>
        <th>F</th>
        <th>S</th>
        <th>S</th>
    </tr>

    {% for week in month_days %}
        <tr>
        {% for day, entries, current in week %}

            <!-- TD style: empty | day | current; onClick handler and highlight  -->
            <td class= {% if day == 0 %}"empty"{% endif %}
            {% if day != 0 and not current %}"day"{% endif %}
            {% if day != 0 and current %}"current"{% endif %}
            {% if day != 0 %}
                onClick="parent.location='{% url "myproject.views.day" year month day %}'"
                #onMouseOver="this.bgColor='#eeeeee';"
                #onMouseOut="this.bgColor='white';"
            {% endif %} 
            data-id="{{ day }}">

            <!-- Day number and entry snippets -->
            {% if day != 0 %}
                <div style="position:relative">
                {{ day }}
                {% for entry in entries %}
                    <br />
                    <br />
                    {{ entry.short|safe }}
                {% endfor %}
                <div class="edit-icon-{{ day }}" style="top:0; position:absolute; visibility: hidden"><i class="icon-leaf icon-white"></i></div>
            {% endif %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>

    <div class="clear"></div>
</div>
{% endblock %}
