{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="title">{{ mname }} {{ year }}</div>

<div class="calendar">
    <table>
    <tr>
        <th>M</th>
        <th>T</th>
        <th>W</th>
        <th>T</th>
        <th>F</th>
        <th>S</th>
        <th>S</th>
    </tr>

    {% for week in month_days %}
        <tr>
        {% for day, entries, current in week %}

            <!-- TD style: empty | day | current; onClick handler and highlight  -->
            <td class= {% if day == 0 %}"empty"{% endif %}
            {% if day != 0 and not current %}"day"{% endif %}
            {% if day != 0 and current %}"current"{% endif %}
            {% if day != 0 %}
                onClick="send_request();"
                #onMouseOver="this.bgColor='#eeeeee';"
                #onMouseOut="this.bgColor='white';"
            {% endif %} 
            data-id="{{ day }}" id="td-{{ day }}">

            <!-- Day number and entry snippets -->
            {% if day != 0 %}
                <div id="cell-{{ day }}" style="position:relative;">
                    {{ day }}
                    {% for entry in entries %}
                        <div style="margin-top:10px; vertical-align:middle; text-align:center;">
                        {{ entry.short|safe }}
                        </div>
                    {% endfor %}
                    {% if entries|length == 0 %}
                        <div id="edit-icon-{{ day }}" style="top:0; position:absolute; visibility: hidden">
                             <i class="icon-leaf icon-white"></i></div>
                    {% endif %}
                    {% if entries|length == 1 %}
                        <div id="star-icon-{{ day }}" style="top:0; position:absolute;"><i class="icon-bookmark icon-white"></i></div>
                        <div id="pencil-icon-{{ day }}" style="position:absolute; top:0; visibility: hidden;">
                            <i class="icon-pencil icon-white"></i></div>
                    {% endif %}
                </div>
            {% endif %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>

    <div class="clear"></div>
</div>
{% endblock %}