table
{
    border-collapse:collapse; table-layout:fixed;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    }
    
.title{
    margin-top: 35px;
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    text-align: center;
    color: #fff;
    font-size:18px;
    margin-bottom: 30px;
}    

td, th {
  font-family: "Lucida Grande", arial, helvetica, sans-serif;
  font-size: 16px;
  padding: 6px; 
  color: #fff;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  outline-offset: -1px;
  }

th {
  text-align: center;
  background-color:rgba(255,189,55,1);
  }

td {
  height: 90px;
  vertical-align: top;
  font-size: 16px;
  text-align:right;
  word-wrap:break-word;
  overflow:hidden;
  }

.day {
    background-color:rgba(50,79,195,0.4);
    cursor:pointer
  }

.current {
    background-color:rgba(60,183,236,0.4);
    cursor:pointer
}

.empty
{
    background-color:rgba(100,100,100,0.4);
}

