table
{
    border-collapse:collapse; table-layout:fixed;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    }
    
.title{
    margin-top: 35px;
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
     text-align: center;
     color: #777;
}    

td, th {
  font-family: "Lucida Grande", arial, helvetica, sans-serif;
  font-size: 16px;
  padding: 6px; 
  }

th {
  color: #666;
  text-align: center;
  }

td {
  color: #777;
  height: 80px;
  vertical-align: middle;
  font-size: 16px;
  text-align: center; 
  overflow: scroll;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  outline-offset: -1px;
  }

.day {
  background-color: #CCC; }

.current {
  background-color: #D7F2FF; 
}