table
{
    border-collapse:collapse; table-layout:fixed;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    }
    
.title{
    margin-top: 35px;
    font-family: "Helvetica", arial, helvetica, sans-serif;
    text-align: center;
    color: #FEFEFE;
    font-size:18px;
    margin-bottom: 30px;
}    

td, th {
  font-family: "Lucida Grande", arial, helvetica, sans-serif;
  font-size: 16px;
  padding: 6px; 
  color: #FEFEFE
  }

th {
  text-align: center;
  }

td {
  height: 80px;
  vertical-align: middle;
  font-size: 16px;
  text-align: center; 
  }

.day {
    background-color:rgba(200,255,200,0.3);
    outline: 1px solid rgba(0, 0, 0, 0.1);
    outline-offset: -1px;
  }

.current {
    background-color:rgba(200,200,255,0.5);
    outline: 1px solid rgba(0, 0, 0, 0.1);
    outline-offset: -1px;
}

