table
{
    border-collapse:collapse; table-layout:fixed;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    }
    
.title{
    margin-top: 35px;
    font-family: "Helvetica", arial, helvetica, sans-serif;
    text-align: center;
    color: #111;
    font-size:18px;
    margin-bottom: 30px;
}    

td, th {
  font-family: "Lucida Grande", arial, helvetica, sans-serif;
  font-size: 16px;
  padding: 6px; 
  color: #111
  }

th {
  text-align: center;
  }

td {
  height: 90px;
  vertical-align: top;
  font-size: 16px;
  text-align:right;
  word-wrap:break-word;
  overflow:hidden;
  }

.day {
    background-color:rgba(255,255,255,0.4);
    outline: 1px solid rgba(0, 0, 0, 0.1);
    outline-offset: -1px;
    cursor:pointer
  }

.current {
    background-color:rgba(255,255,255,0.4);
    outline: 1px solid rgba(0, 0, 0, 0.1);
    outline-offset: -1px;
    cursor:pointer
}

